body
{
    width: 100%;
    height: 100vh;
    background-image: url("assets/signUp_exam.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;


}

.question
{
    background-color: aqua;

}
